{% extends 'base.html' %}

{% block title %}
{{ TITLE }} | プライバシーポリシー
{% endblock %}

{% block main %}
    <div class="container my-5">
        <h1 class="mb-5 text-center">{{ TITLE }}プライバシーポリシー</h1>
        <section id="info" class="mb-4">
            <h2>第1条（個人情報の定義）</h2>
            <p>本ポリシーにおいて個人情報とは、氏名、住所、電話番号、メールアドレスなど、特定の個人を識別できる情報を指します。</p>
        </section>

        <section id="acquisition" class="mb-4">
            <h2>第2条（個人情報の取得方法）</h2>
            <p>当社は、本サービスを利用されるお客様から、会員登録時、商品購入時、お問い合わせ時などに、適正な手段で個人情報を取得します。</p>
        </section>

        <section id="purpose" class="mb-4">
            <h2>第3条（個人情報を取得・利用する目的）</h2>
            <p>当社が個人情報を収集・利用する目的は、以下のとおりです。</p>
            <ol>
                <li>商品やサービスの注文の受付および配送、代金決済のため</li>
                <li>お客様からのお問い合わせに対応するため</li>
                <li>重要な通知や、サービスに関する情報提供のため</li>
                <li>本サービスの改善、新サービスの開発のため</li>
            </ol>
        </section>

        <section id="thirdparty" class="mb-4">
            <h2>第4条（個人情報の第三者提供）</h2>
            <p>当社は、法令で認められる場合を除き、**あらかじめお客様の同意を得ることなく**、第三者に個人情報を提供することはありません。</p>
            <p class="note">ただし、商品の配送を委託する配送業者や、決済処理を委託する決済代行業者など、利用目的の達成に必要な範囲内で個人情報の取り扱いを委託する場合は、この限りではありません。</p>
        </section>

        <section id="management" class="mb-4">
            <h2>第5条（個人情報の管理）</h2>
            <p>当社は、個人情報の漏洩、紛失、不正利用等を防止するため、必要な安全管理措置を講じ、個人情報を厳重に管理します。</p>
        </section>
       
    </div>

{% endblock %}