{% extends 'base.html' %}
 
{% block title %}
{{ TITLE }} | 会員情報
{% endblock %}

{% block main %}
 
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1>会員情報</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group ">
          <label>名前</label>
          <input class="form-control" type="text" name="name" placeholder="name" value="{{user.profile.name}}">
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>郵便番号</label>
            <input class="form-control" type="text" name="zipcode" placeholder="zipcode"
              value="{{user.profile.zipcode}}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>都道府県</label>
            <input class="form-control" type="text" name="prefecture" placeholder="prefecture"
              value="{{user.profile.prefecture}}">
          </div>
          <div class="form-group col-md-6">
            <label>市区町村</label>
            <input class="form-control" type="text" name="city" placeholder="city" value="{{user.profile.city}}">
          </div>
        </div>
        <div class="form-group">
          <label>番地</label>
          <input class="form-control" type="text" name="address1" placeholder="address1"
            value="{{user.profile.address1}}">
        </div>
        <div class="form-group">
          <label>アパート・マンション名</label>
          <input class="form-control" type="text" name="address2" placeholder="address2"
            value="{{user.profile.address2}}">
        </div>
        <div class="form-group">
          <label>電話連絡先</label>
          <input class="form-control" type="tel" name="tel" placeholder="tel" value="{{user.profile.tel}}">
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
      </form>
    </div>
  </div>
</div>
 
{% endblock %}