{% extends 'base.html' %}

{% block title %}
{{ TITLE }} | 利用規約
{% endblock %}

{% block main %}
<div class="container my-5">
    
    <h1 class="mb-5 text-center">{{ TITLE }}利用規約</h1>

    <section id="general" class="mb-4">
        <h2>第1条（適用）</h2>
        <p>本規約は、お客様と当社（{{ TITLE }}）との間の、本サービスの利用に関わる一切の関係に適用されます。</p>
    </section>

    <section id="account" class="mb-4">
        <h2>第2条（ユーザー登録）</h2>
        <p>1. 本サービスにおいては、登録希望者が本規約に同意の上、当社の定める方法によって利用登録を申請し、当社がこれを承認することによって、登録が完了するものとします。</p>
        <p>2. 当社は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負いません。</p>
        <ul>
            <li>利用登録の申請に際し、虚偽の事項を届け出た場合</li>
            <li>本規約に違反したことがある者からの申請である場合</li>
            <li>その他、当社が利用登録を相当でないと判断した場合</li>
        </ul>
    </section>

    <section id="price" class="mb-4">
        <h2>第3条（代金の支払い）</h2>
        <div class="alert" >
            本サービスは、テストサイトであり、商品の購入はシミュレーションです。実際の利用料金は発生しないものとします。
        </div>
    </section>

    <section id="prohibited" class="mb-4">
        <h2>第4条（禁止事項）</h2>
        <p>お客様は、本サービスの利用にあたり、以下の行為をしてはなりません。</p>
        <ul>
            <li>法令または公序良俗に違反する行為</li>
            <li>犯罪行為に関連する行為</li>
            <li>本サービスに含まれる著作権、商標権その他の知的財産権を侵害する行為</li>
            <li>その他、当社が不適切と判断する行為</li>
        </ul>
    </section>

    <section id="disclaimer" class="mb-4">
        <h2>第5条（免責事項）</h2>
        <p>当社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</p>
    </section>

    <section id="change" class="mb-4">
        <h2>第6条（規約の変更）</h2>
        <p>当社は、必要と判断した場合には、お客様に通知することなくいつでも本規約を変更することができるものとします。</p>
    </section>
    
</div>

{% endblock %}