<div class="container w-100 bg-dark text-white py-4" style="max-width: 100%;">
    <div class="row mt-1 mx-5">
        <div class="col-12 col-md mb-3 text-muted">
            <h1><a class="link-secondary text-muted" href="/">{{ TITLE }}</a></h1>
        </div>
        <div class="col-6 col-md">
            <h5>Vegeketについて</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="/company/">会社概要</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>その他</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="/terms/">利用規約</a></li>
                <li><a class="link-secondary text-muted" href="/privacy/">プライバシーポリシー</a></li>
            </ul>
        </div>
        <!-- <div class="col-6 col-md">
            <h5>リソース</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="#">リンクC</a></li>
                <li><a class="link-secondary text-muted" href="#">リンクD</a></li>
                <li><a class="link-secondary text-muted" href="#">リンクE</a></li>
            </ul>
        </div> -->
    </div>
</div>
<div class="container w-100 bg-light py-2 text-center" style="max-width: 100%;">
    <small class="d-block mb-3 text-muted">&copy; Vegeket 2026</small>
</div>